body{
  width: 100%;
  height: 100%;

  overflow: hidden;
}

main{
  display: flex;
 
  justify-content: center;

  height: 80%;
}

form{
  background-color: white;
  border-radius: 7px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 5px rgb(131, 131, 131);

  gap: 80px;

  align-self: center;
}

#pesquisararea{
  display: grid;
  grid-template-columns: 1fr 30%;

  position: relative;
  
  color: rgb(65, 65, 65);
}

#pesquisararea, #girarbotao{
  padding: 50px;
}

#textpesquisar{
  display: flex;
  flex-direction: column;

  gap: 20px;
}

#textpesquisar p{
  width: 70%;
}

#modeloanatomico{
  display: flex;

  align-items: center;
  justify-content: center;
}

#girarbotao{
  display: flex;
  color: #4F95D7;

  position: absolute;
  right: 5%;
  bottom: -10%;

  align-items: center;
  justify-content: center;
}

#girarbotao:hover, input[type="submit"]:hover,
#sintomaspesquisados span img:hover, 
#sintomaspesquisados li img:hover{
  cursor: pointer;
  opacity: 0.8;
}

select{
  border: 1px solid grey;
  border-radius: 5px;

  width: 80%;

  height: 50px;
  padding: 10px 40px 10px 20px;

  background: url('../assets/Symptomate-2.svg') no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;

  color: rgb(65, 65, 65);
  box-shadow: 0px 0px 2px #2B60C5;

  -webkit-appearance: none;
}

select:hover{
  cursor: pointer;
}

#sintomaspesquisados{
  max-width: 500px;

  display: flex;
  flex-wrap: wrap;
  
  gap: 10px;
}

#sintomaspesquisados li{
  background-color: #1471C9;
  color: white;
  font-size: 14px;

  display: flex;
  align-items: center;
  padding: 5px 10px;

  border-radius: 15px;

  height: 30px;
}

#sintomaspesquisados li img{
  margin-left: 5px;
}

.sc-body-model-svg__path{
  fill: transparent;
  cursor: pointer;

  background-color: #0B5F43;
}

.sc-body-model-svg__path:hover{
  fill: #5b98d2;
  cursor: pointer;
}

#body-model-adult-male-front, #body-model-adult-male-back{
  width: 200px;
}

#popupsintoma{
  position: absolute;

  left: 0;
  top: 0;

  width: 400px;
  max-height: 300px;

  display: grid;
  grid-template-rows: auto 1fr;

  background-color: white;
  color:#616262;

  transform: translate(-420px, -20px);

  box-shadow: 0 0 5px rgb(131, 131, 131);
}


#headerpopup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: #F3F5F7;  
  color: #21282E;

  position: relative;  
  width: 100%;

}

#headerpopup::after{
  content: "";
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #F3F5F7;

  position: absolute;
  right: -10px;
}

#listadesintomasespecifico{
  overflow-y: scroll;
  padding: 10px;
}

.sintomadalista{
  list-style-type: none;
  padding: 7px;

  border-radius: 10px;

  font-weight: 500;
}

.sintomadalista:hover{
  background-color: #F3F5F7;
  cursor: pointer;
}

#fecharpopup:hover{
  cursor: pointer;
  opacity: 0.8;
}


