@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root{
  background-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 50% 1fr;
  overflow: hidden;
}

#background{
  width: 100%;
  height: 100%;
  padding: 10%;
  background: #2B60C5;
}

#content{
  height: 100vh;
  width: 600px;
  padding-top: 5vh;
  padding: 50px;
  margin: 0 auto;

  display: grid;
  gap: 20px;
  
  align-items: center;
}

#content h1{
  color: #173552;
  text-align: center;
}

#divemail{
  display: flex;
  justify-content: center;
}

#emailicon{
  width: 50%;
  background-color: rgb(157, 211, 255, 0.1);
  border-radius: 50% 50% 40% 40%;
  padding: 30px;


  display: block;
  align-self: center;
}

form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#content p{
  color: grey;
  text-align: center;
}

#formcode{
  display: grid;
  gap: 30px;
}

#codeinputdiv{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

input[type=text]{
  width: 50px;
  border: 1px solid #2B60C5;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

button[type=submit]{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;

  color: white;
  background-color: #2B60C5;
}


button[type=submit]:hover{
  opacity: 0.9;
  cursor: pointer;
}

#resendbutton{
  display: block;
  padding-top: 10px;
}

#voltarlogin, #resendbutton{
  color: blue;
  text-decoration: none;
}

#voltarlogin:hover, #resendbutton:hover{
  opacity: 0.7;
}